environment    = "dev"
allowed_domain = "svatba2026.com"
region         = "eu-west-2"
profile        = "default"
callback_url   = "https://backend.svatba2026.com/auth/callback"
logout_url     = "https://backend.svatba2026.com/auth/logout"
google_client_id     = "<insert client id here>"
google_client_secret = "<insert secret here>"
facebook_client_id     = "<insert client id here>"
facebook_client_secret = "<insert secret here>"
webhook_url            = "https://backend.svatba2026.com/api/images/process"
webhook_secret         = "<insert secret here>"
allowed_origins = [
  "http://localhost:3000",
  "https://svatba2026.com",
]